<h1>New User Account</h1>

<%= form_with :model => @user do |form| %>
  <div class="mb-3">
    <%= form.label "username" %>
    <%= form.text_field "username" %>
  </div>
  <div class="mb-3">
    <%= form.label "email" %>
    <%= form.text_field "email" %>
  </div>
  <div class="mb-3">
    <%= form.label "password" %>
    <%= form.password_field "password" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Sign up" %>
  </div>
<% end %>